html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font-family: "Bai Jamjuree", sans-serif;
}

html, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}
@media (min-width: 64em) {
  body {
    background-image: url(../images/bg-header-desktop.png);
  }
}

.btn {
  padding: 18px 76px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
@media (min-width: 64em) {
  .btn {
    padding: 18px 37px;
  }
}

.formatTrackArticle > h3 {
  margin-bottom: 13px;
  font-size: 25px;
  font-weight: 600;
  color: hsl(210deg, 10%, 33%);
}
@media (min-width: 64em) {
  .formatTrackArticle > h3 {
    font-size: 25px;
  }
}
.formatTrackArticle > p {
  margin-bottom: 40px;
  font-size: 1rem;
  line-height: 27px;
  color: hsl(201deg, 11%, 66%);
}
@media (min-width: 64em) {
  .formatTrackArticle > p {
    font-size: 19px;
  }
}

.formatSubHeader > h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: hsl(210deg, 10%, 33%);
}
@media (min-width: 64em) {
  .formatSubHeader > h2 {
    font-size: 35px;
  }
}
.formatSubHeader > p {
  margin-bottom: 64px;
  line-height: 30px;
  color: hsl(201deg, 11%, 66%);
}
@media (min-width: 64em) {
  .formatSubHeader > p {
    font-size: 19px;
    margin: 0 371px;
    margin-bottom: 84px;
  }
}

.header {
  margin: 124px 32px;
}
@media (min-width: 64em) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 131px 0;
  }
}
.header__logo {
  margin-bottom: 69px;
  width: 125px;
}
.header > h1 {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 600;
  line-height: 41px;
  color: hsl(210deg, 10%, 33%);
}
@media (min-width: 64em) {
  .header > h1 {
    font-size: 44px;
  }
}
.header__text {
  display: flex;
  justify-content: center;
}
.header > .header__text > p {
  margin-bottom: 50px;
  line-height: 30px;
  color: hsl(201deg, 11%, 66%);
}
@media (min-width: 64em) {
  .header > .header__text > p {
    max-width: 730px;
    font-size: 19px;
  }
}
.header__buttons {
  display: flex;
  flex-direction: column;
}
@media (min-width: 64em) {
  .header__buttons {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}
.header__iosButton {
  margin-bottom: 26px;
  background-color: hsl(171deg, 66%, 44%);
  border: solid 3px hsl(171deg, 66%, 37%);
  border-top: none;
}
@media (min-width: 64em) {
  .header__iosButton {
    margin-bottom: 0;
  }
}
.header__macButton {
  background-color: hsl(233deg, 100%, 69%);
  border: solid 3px hsl(233deg, 55%, 53%);
  border-top: none;
}

.main {
  margin: 0 32px;
}
@media (min-width: 64em) {
  .main__trackHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.main__trackHeader > h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: hsl(210deg, 10%, 33%);
}
@media (min-width: 64em) {
  .main__trackHeader > h2 {
    font-size: 35px;
  }
}
.main__text {
  display: flex;
  justify-content: center;
}
.main__text > p {
  margin-bottom: 64px;
  line-height: 30px;
  color: hsl(201deg, 11%, 66%);
}
@media (min-width: 64em) {
  .main__text > p {
    font-size: 19px;
    width: 700px;
    margin-bottom: 84px;
  }
}
.main__trackImg {
  flex: 3;
  margin-bottom: 58px;
}
.main__computerImg {
  transform: translateX(-64px);
  width: 105%;
  min-width: 700px;
  max-width: 900px;
}
@media (max-width: 63.9375em) {
  .main__computerImg {
    transform: translateX(0);
    width: 100%;
    min-width: 311px;
    height: 100%;
  }
}
@media (min-width: 64em) {
  .main__trackPoints {
    padding-top: 69px;
    flex: 2.5 3;
    text-align: left;
  }
}
@media (min-width: 64em) {
  .main__trackArticle {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.main__devicesImg {
  width: 311px;
}
.main__trackContainer {
  margin-right: 260px;
  min-width: 400px;
}/*# sourceMappingURL=style.css.map */