@use 'mixins' as m;
@use 'variables' as v;

html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: border-box;
}
*{
    font-family: 'Bai Jamjuree', sans-serif;
}
*ul,ol,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
html,body,h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    // display: flex;
    // justify-content: center;
    @include m.breakpoints-up(large){
        background-image: url(../images/bg-header-desktop.png);
    }
}

.btn{
    padding: 1.125rem 4.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    transition: opacity 150ms ease-in;
    @include m.breakpoints-up(large){
        padding: 1.125rem 2.3125rem;
    }
    &:hover{
        opacity: 0.75;
    }
}

.formatTrackArticle{
    &>h3{
        margin-bottom: 0.8125rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: v.$cl-neutral-drk-grayishBlue;
        @include m.breakpoints-up(large){
            font-size: 1.5625rem;
        }
    }
    &>p{
        margin-bottom: 2.5rem;
        font-size: 1rem;
        line-height: 1.6875rem;
        color: v.$cl-neutral-grayishBlue;
        @include m.breakpoints-up(large){
            font-size: 1.1875rem;
        }
    }
}

.formatSubHeader{
    &>h2{
        margin-bottom: 1.5625rem;
        font-size: 1.8125rem;
        font-weight: 700;
        line-height: 2.625rem;
        color: v.$cl-neutral-drk-grayishBlue;
        @include m.breakpoints-up(large){
            font-size: 2.1875rem;
        }
    }
    &>p{
        margin-bottom: 3.125rem;
        line-height: 1.875rem;
        color: v.$cl-neutral-grayishBlue;
        @include m.breakpoints-up(large){
            font-size: 1.1875rem;
            margin: 0 23.1875rem;
            margin-bottom: 3.75rem; 
        }
    }
}

.articelContainer{
    @include m.breakpoints-up(large){
        width: 22.1875rem;
        height: 13.1875rem;
    }
}