@use 'mixins' as m;
@use 'variables' as v;

html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: border-box;
}
*{
    font-family: 'Bai Jamjuree', sans-serif;
}
html,body,h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    @include m.breakpoints-up(large){
        background-image: url(../images/bg-header-desktop.png);
    }
}

.btn{
    padding: 18px 76px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 30px;
    @include m.breakpoints-up(large){
        padding: 18px 37px;
    }
}

.formatTrackArticle{
    &>h3{
        margin-bottom: 13px;
        font-size: 24px;
        color: v.$cl-neutral-drk-grayishBlue;
    }
    &>p{
        margin-bottom: 40px;
        line-height: 27px;
        color: v.$cl-neutral-grayishBlue;
    }

}