@use 'variables' as v;
@use 'mixins' as m;

.header{
    margin: 7.75rem 2rem;
    @include m.breakpoints-up(large){
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 8.1875rem 0;
    }
    &__logo{
        margin-bottom: 4.3125rem;
        width: 7.8125rem;
        @include m.breakpoints-up(large){
            
        }
    }
    &>h1{
        margin-bottom: 1.5625rem;
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 2.5625rem;
        color: v.$cl-neutral-drk-grayishBlue;
        @include m.breakpoints-up(large){
            font-size: 2.75rem;
        }
    }
    &__text{
        display: flex;
        justify-content: center ;
    }
    &>&__text>p{
        margin-bottom: 3.125rem;
        line-height: 1.875rem;
        color: v.$cl-neutral-grayishBlue;
        @include m.breakpoints-up(large){
            max-width: 45.625rem;
            font-size: 1.1875rem;

        }
    }
   
    &__buttons{
        display: flex;
        flex-direction: column;
        @include m.breakpoints-up(large){
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
        }
    }
    &__iosButton{
        margin-bottom: 1.625rem;
        background-color: v.$cl-primary-str-cyan;
        border: solid 0.1875rem hsl(171, 66%, 37%);
        border-top: none;
        @include m.breakpoints-up(large){
            margin-bottom: 0;
        }
    }
    &__macButton{
        background-color: v.$cl-primary-lt-blue;
        border: solid 0.1875rem hsl(233, 55%, 53%);
        border-top: none;
    }
}