//primary color
$cl-primary-str-cyan: hsl(171, 66%, 44%);
$cl-primary-lt-blue: hsl(233, 100%, 69%);
//neutral color
$cl-neutral-drk-grayishBlue: hsl(210, 10%, 33%);
$cl-neutral-grayishBlue: hsl(201, 11%, 66%);


